:root {
  --dark-gray-blue: hsl(217, 19%, 35%);
  --gray-blue: hsl(212, 23%, 69%);
  --light-gray-blue: hsl(210, 46%, 95%);
  --dark-blue: hsl(214, 17%, 51%);
  --primary-font: 'Manrope', sans-serif;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 13px;
  font-family: var(--primary-font);
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;  
}

.fm-attribution {
  font-size: 12px;
}

.fm-attribution a {
  color: hsl(228, 45%, 44%);
}