:root {
  --dark-gray-blue: hsl(217, 19%, 35%);
  --gray-blue: hsl(212, 23%, 69%);
  --light-gray-blue: hsl(210, 46%, 95%);
  --dark-blue: hsl(214, 17%, 51%);
  --white: hsl(0, 0%, 100%);
  --primary-font: 'Manrope', sans-serif;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--primary-font);
  color: var(--dark-gray-blue);
  background-color: var(--light-gray-blue);
  display: grid;
  grid-template-rows: 1fr auto;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

@media(min-width: 1024px){
  .container {
    margin-top: 0;
  }
}

.card {
  max-width: 320px;
  border-radius: .5rem;
  overflow: hidden;
  background-color: var(--white);
}

@media (min-width: 1024px){
  .card {
    max-width: 785px;
    display: flex;
    overflow: unset;
  }
}

.card-hero {
  background-image: url(../assets/images/drawers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 170px;
}

@media (min-width: 1024px){
  .card-hero {
    flex-basis: 38%;
    background-position: center left;
    height: auto;
  }
}

@media (min-width: 1024px){
  .card-content-wrapper {
    flex-basis: 62%;
    position: relative;
  }
}

.card-body {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.card-body,
.card-footer {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

@media (min-width: 1024px){
  .card-body,
  .card-footer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.card-body h2 {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

@media (min-width: 1024px){
  .card-body h2 {
    font-size: 1.35rem;
    line-height: 1.3;
  }
}

.card p {
  font-size: .85rem;
  line-height: 1.65;
}

@media (min-width: 1024px){
  .card-body p {
    font-size: .9rem;
  }
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: .75rem;
  padding-bottom: 1rem;
  position: relative;
}

.card-footer-dark {
  background: var(--dark-gray-blue);
}

@media (min-width: 1024px){
  .card-footer-dark {
    background: none;
  }
}

@media (min-width: 1024px){
  .card-footer {
    padding-top: 0;
    padding-bottom: 2rem;
    position: unset;
  }
}

.card-byline-label,
.share-icon-group {
  flex-basis: 70%;
  display: flex;
  align-items: center;
  height: 45px;
}

.card-byline-label img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: .75rem;
}

.card-byline-text p:nth-child(1) {
  font-weight: 700;
}

.card-byline-text p:nth-child(2) {
  color: var(--gray-blue);
}

.share-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--light-gray-blue);
  display: flex;
  justify-content: center;
  align-items: center;  
}

.share-icon--light {
  display: none;
}

.share-icon--bground{
  background: var(--gray-blue);
}

@media(min-width: 1024px){
  .share-icon--bground{
    background: var(--dark-gray-blue);
  }
}

.share-icon-group {
  display: none;
}

@media(min-width: 1024px){
  .share-icon-group {
    background: var(--dark-gray-blue);
    position: absolute;
    top: 53%;
    right: -8%;
    width: 200px;
    display: flex;
    justify-content: space-around;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    display: none;
  }

  .share-icon-group::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background: transparent;
    position: absolute;
    top: 45px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid var(--dark-gray-blue);
  }
}

.share-icon-group p {
  font-size: .875rem;
  font-weight: 500;
  color: var(--gray-blue);
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-right: .75rem;
}

.share-icon-group ul {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hide-icon,
.hide-icon-group,
.hide-byline-label {
  display: none;
}

.show-icon,
.show-icon-group,
.show-byline-label {
  display: flex;
}

@media (min-width: 1024px){
  .hide-byline-label {
    display: flex;
  }

  .hide-icon {
    display: none;
  }
}

.fm-attribution-row {
  padding: 1rem;
}

@media (min-width: 1024px){
  .fm-attribution-row {
    padding-right: 3rem;
    padding-bottom: 2rem;
  }
}

.fm-attribution {
  font-size: 12px;
  text-align: center;
}

@media (min-width: 1024px){
  .fm-attribution {
    text-align: right;
  }
}

.fm-attribution a {
  color: hsl(228, 45%, 44%);
}
