:root {
  --dark-gray-blue: hsl(217, 19%, 35%);
  --gray-blue: hsl(212, 23%, 69%);
  --light-gray-blue: hsl(210, 46%, 95%);
  --dark-blue: hsl(214, 17%, 51%);
  --white: hsl(0, 0%, 100%);
  --primary-font: 'Manrope', sans-serif;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--primary-font);
  color: var(--dark-gray-blue);
  background-color: var(--light-gray-blue);
  display: grid;
  grid-template-rows: 1fr auto;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.card {
  max-width: 320px;
  border-radius: .5rem;
  overflow: hidden;
  background-color: var(--white);
}

.card-hero {
  background-image: url(../assets/images/drawers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 170px;
}

.card-body {
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

.card-body,
.card-footer {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.card-body h2 {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.card p {
  font-size: .85rem;
  line-height: 1.65;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.card-byline-label,
.share-group {
  flex-basis: 70%;
  display: flex;
}

.card-byline-label img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: .75rem;
}

.card-byline-text p:nth-child(1) {
  font-weight: 700;
}

.card-byline-text p:nth-child(2) {
  color: var(--gray-blue);
}

.share-icon-wrapper {
  width: 40px;
  height: 40px;
  background: var(--light-gray-blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-icon--light {
  display: none;
}

.share-icons-group {
  display: none;
}

.share-icons-group p {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: .75rem;
}

.share-icons-group ul {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fm-attribution-row {
  padding: 1rem;
}

.fm-attribution {
  font-size: 12px;
  text-align: center;
}

.fm-attribution a {
  color: hsl(228, 45%, 44%);
}